<!DOCTYPE html>
<html lang="en">
<head>
  <title>E-mandi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-shopping-cart">E-mandi</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="{{url_for('cart')}}">Cart</a></li>
        <li><a href="{{url_for('feedback')}}">Feedback</a></li>
        <li><a href="static/pages/help.html">Help</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not session %}
        <li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

        <li><a href="{{url_for('register')}}"><span class="glyphicon glyphicon-certificate"></span> Register</a></li>

        {% endif %}

        {% if session %}

        <li><a href="#"><span class="glyphicon glyphicon-pawn"></span>Logged in as {{ session['name'] }} ({{ session['user_type'] }})</a></li>
        <li><a href="#"><span class=" glyphicon glyphicon-link"></span>{{ session['user_id'] }}</a></li>


        <li><a href="{{ url_for('logout')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#"></a></p>
<!--       <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p> -->
    </div>
    <div class="col-sm-8 text-left">
      <div>
<!-- 	  	<style>.
		.grid {
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: space-around;

		}
		.cell {
		  flex: 0 0 32%;
		  height: 50px;
		  margin-bottom: 5px;
		  background-color: #999;
		}
		.cell:nth-child(3n) {
		  background-color: #F00;
		}
		</style>
		<div class="grid">
		  <div class="cell"></div>
		  <div class="cell"></div>
		  <div class="cell"></div>
		  <div class="cell"></div>
		  <div class="cell"></div>
		  <div class="cell"></div>
		  <div class="cell"></div>
		  <div class="cell"></div>
		  <div class="cell"></div>
		</div> -->
	<!--PREDEFINED IMAGES-->
  <!--
  <form method =post action="{{url_for('cart')}}">
    <div id="rendered">
      {% for item in items %}
      <img src="https://placehold.it/250x250"/><br><br>
      <input type="text" name="vegetable_name" value="{{ item['vegetable_name'] }}">
      <input type="submit" name="vegetable_price" value="{{ item['price'] }}">{{ item['retailer_name'] }} - Rs.{{ item['price'] }}<br>
      {% endfor %}
      < /div>
      }
    </form>
   -->

	<form method =post action="{{url_for('cart')}}">
		<div id='tomato'>

			{% for item in items %}
			{% if item['vegetable_name'] == 'tomato' %}
  			<img src="static/img/tomato.jpg"/><br><br>
  			<b>Vegetable Name</b> <input type="text" name="vegetable_name" value="{{ item['vegetable_name'] }}" readonly><br><br>

        <b>Retailer Name</b><input type="text" name="retailer_name" value="{{ item['retailer_name'] }}" readonly><br><br>

  			<b>Retailer Price</b><input type="submit" name="vegetable_price" value="{{ item['price'] }}" readonly><br><br>

        <!-- Government Price  -->
        {% for vegetable in govt %}
        {% if vegetable['vegetable_name'] == 'tomato' %}

        <b>Government Price </b><input type="submit" name="govt_price" value="{{ vegetable['price'] }}" readonly><br><br>

        {% endif %}
        {% endfor %}
          <!-- //Government Price  -->

      {% endif %}<br>
			{% endfor %}
		</div>
  </form><br>

  <form method=post action="{{url_for('cart')}}">
		<div id='cucumber'>

			{% for item in items %}
			{% if item['vegetable_name'] == 'cucumber' %}
  			<img src="static/img/cucumber.jpg"/><br><br>
  			<b>Vegetable Name</b> <input type="text" name="vegetable_name" value="{{ item['vegetable_name'] }}" readonly><br><br>
  			<b>Retailer Name</b><input type="text" name="retailer_name" value="{{ item['retailer_name'] }}" readonly><br><br>
      	<b>Retailer Price</b><input type="submit" name="vegetable_price" value="{{ item['price'] }}" readonly><br><br>
        {% for vegetable in govt %}
        {% if vegetable['vegetable_name'] == 'cucumber' %}
        <b>Government Price </b><input type="submit" name="govt_price" value="{{ vegetable['price'] }}" readonly><br><br>
        {% endif %}
        {% endfor %}


      {% endif %}<br>
			{% endfor %}
		</div>
	</form><br>

    <form method=post action="{{url_for('cart')}}">
    <div id='cabbage'>

      {% for item in items %}
      {% if item['vegetable_name'] == 'cabbage' %}
        <img src="static/img/cabbage.jpg"/><br><br>
        <b>Vegetable Name</b> <input type="text" name="vegetable_name" value="{{ item['vegetable_name'] }}" readonly><br><br>
        <b>Retailer Name</b><input type="text" name="retailer_name" value="{{ item['retailer_name'] }}" readonly><br><br>
      	<b>Retailer Price</b><input type="submit" name="vegetable_price" value="{{ item['price'] }}" readonly><br><br>
        {% for vegetable in govt %}
        {% if vegetable['vegetable_name'] == 'cabbage' %}
        <b>Government Price </b><input type="submit" name="govt_price" value="{{ vegetable['price'] }}" readonly><br><br>
        {% endif %}
        {% endfor %}



      {% endif %}<br>
      {% endfor %}
    </div>
  </form><br>

    <form method=post action="{{url_for('cart')}}">
    <div id='potato'>

      {% for item in items %}
      {% if item['vegetable_name'] == 'potato' %}
        <img src="static/img/potato.jpg"/><br><br>
        <b>Vegetable Name</b> <input type="text" name="vegetable_name" value="{{ item['vegetable_name'] }}" readonly><br><br>
        <b>Retailer Name</b><input type="text" name="retailer_name" value="{{ item['retailer_name'] }}" readonly><br><br>
      	<b>Retailer Price</b><input type="submit" name="vegetable_price" value="{{ item['price'] }}" readonly><br><br>
        {% for vegetable in govt %}
        {% if vegetable['vegetable_name'] == 'potato' %}
        <b>Government Price </b><input type="submit" name="govt_price" value="{{ vegetable['price'] }}" readonly><br><br>
        {% endif %}
        {% endfor %}

      {% endif %}<br>
      {% endfor %}
    </div>
    <div id="wholesale_potato">
    </div>
  </form><br>

  <form method=post action="{{url_for('cart')}}">
  <div id='brinjal'>

    {% for item in items %}
    {% if item['vegetable_name'] == 'brinjal' %}
      <img src="static/img/brinjal.jpg"/><br><br>
      <b>Vegetable Name</b> <input type="text" name="vegetable_name" value="{{ item['vegetable_name'] }}" readonly><br><br>
      <b>Retailer Name</b><input type="text" name="retailer_name" value="{{ item['retailer_name'] }}" readonly><br><br>
      <b>Retailer Price</b><input type="submit" name="vegetable_price" value="{{ item['price'] }}" readonly><br><br>
      {% for vegetable in govt %}
      {% if vegetable['vegetable_name'] == 'brinjal' %}
      <b>Government Price </b><input type="submit" name="govt_price" value="{{ vegetable['price'] }}" readonly><br><br>
      {% endif %}
      {% endfor %}

    {% endif %}<br>
    {% endfor %}
  </div>
</form><br>

<!-- Wholeseller items(If signed in as retailer) -->
  {% if session['user_type'] == 'retailer' %}
    <b><h3> Items from various Wholesellers</h3></b><br>
    {% for witem in w_items %}
      {% if witem['vegetable_name'] == 'tomato' %}
      <img src="static/img/tomato.jpg"/><br><br>
      {% elif witem['vegetable_name'] == 'potato' %}
      <img src="static/img/potato.jpg"/><br><br>
      {% elif witem['vegetable_name'] == 'cucumber' %}
      <img src="static/img/cucumber.jpg"/><br><br>
      {% elif witem['vegetable_name'] == 'brinjal' %}
      <img src="static/img/brinjal.jpg"/><br><br>
      {% elif witem['vegetable_name'] == 'carrot' %}
      <img src="static/img/carrot.jpg"/><br><br>
      {% elif witem['vegetable_name'] == 'onion' %}
      <img src="static/img/onion.jpg"/><br><br>
      {% elif witem['vegetable_name'] == 'spinach' %}
      <img src="static/img/spinach.jpg"/><br><br>
      {% elif witem['vegetable_name'] == 'capsicum' %}
      <img src="static/img/capsicum.jpg"/><br><br>
      {% elif witem['vegetable_name'] == 'cabbage' %}
      <img src="static/img/cabbage.jpg"/><br><br>
      {% endif %}
    <b>Vegetable Name</b> <input type="text" name="vegetable_name" value="{{ witem['vegetable_name'] }}" readonly><br><br>
    <b>Wholeseller Name</b><input type="text" name="wholeseller_name" value="{{ witem['wholeseller_name'] }}" readonly><br><br>
    <b>Wholeseller Price</b><input type="submit" name="vegetable_price" value="{{ witem['price'] }}" readonly><br><br>
    {% endfor %}
  {% endif %}
<!-- //Wholeseller items(If signed in as retailer) -->

	</div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p><b>Current Best Retailer: <b><i>{{ best_retailer }}</i></p>
      </div>
      <div class="well">
        <p><b>Region:</b> <i>{{ session['region'] }}</i></p>
      </div>
      <div class="well">
        <p><b>Revenue Generated:</b> <i>{{ session['total_revenue'] }}</i></p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <div class="copy-right">
		<div class="container">
			<p>© E-Mandi</p>
		</div>
	</div>
</footer>

</body>
</html>
