<!DOCTYPE html>
<html lang="en">
<head>
  <title>em_cart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body background="static/img/bgpg.jpg">

<div class="container">
  <h2><span class="glyphicon glyphicon-shopping-em_cart"></span></h2>
  <div class="list-group">
    <!-- loop over items in cart -->
    {% for vegetable,quantity in em_cart.items.items() %}
    <i>{{ vegetable }}</i><br>
   <!--  <a href="#" id="quantity">{{ quantity }}</a> -->
    <br>
    {% endfor %}

  </div>
  <b>Your Total Amount is {{ em_cart.total }}</b>
  <div class="checkout">
    <form method=post action="{{ url_for('checkout')}}">

      <h2><span class="glyphicon glyphicon-barcode"></span></h2>
      <input type="submit" name="pay" value="{{ em_cart.total }}" readonly>
    </form>

</div>
  <br>
  <br>
</div>


</body>
</html>
