{% extends 'layouts/form.html' %}
{% block title %}Registration Form{% endblock %}
{% block content %}
  <form method="POST" action="{{ url_for('register') }}" role="form">
    <h3 class="form-heading">Register <a href="{{ url_for('home') }}" title="Back to homeepage"><i class="fa fa-home pull-right"></i></a></h3>

    {{ form.name(class_ = 'form-control first-input', placeholder = form..label.text, required = true, autofocus = true) }}</br>
    {{ form.email(class_ = 'form-control', placeholder = form.email.label.text, required = true) }}</br>
    {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}</br>
    {{ form.confirm(class_ = 'form-control', placeholder = form.confirm.label.text, required = true) }}</br>
    {{ form.user_type(class_ = 'form-control', placeholder = form.user_type.label.text, required = true) }}</br>
    
        
    <p class="pull-left"><a href="{{ url_for('login') }}">Login</a></p></br>
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block">
    </form>
{% endblock %}
