{% extends 'layouts/form.html' %}
{% block title %}Wholeseller Item-Upload Form{% endblock %}
{% block content %}
<body background="static/img/bgpg.jpg">
  <form method=POST action="{{ url_for('w_upload') }}">
    <h3 class="form-heading">Wholeseller Item Upload<a href="{{ url_for('home') }}" title="Back to homeepage"><i class="fa fa-home pull-right"></i></a></h3>

    {{ form.WholesellerName(class_ = 'form-control first-input', placeholder= "Name of Seller", required = true) }}</br>
    {{ form.VegetableName(class_ = 'form-control' ,placeholder = "Vegetable", required = true) }}</br>
    {{ form.Price(class_ = 'form-control last-input', placeholder= "Price", required = true) }}</br>

    <input type="submit" value="Upload" class="btn btn-primary btn-lg btn-block">
    </form>

{% endblock %}
